.card-link img {
    width: 32px;
}
.card-body a {
    text-decoration: none;
}
.carousel-item {
    max-height: 500px;
}
#navbar a:hover, #navbar .active{
    background-color: #212529;
    color: white;
}